<ion-content [fullscreen]="true" class="fondo">

    <h2 class="salu2">Bienvenido</h2>
    <div class="titulo">Iniciar Sesión</div>
    <div class="logo"></div>

    <div class="contenedor-input verde">
      <div>
        <ion-icon name="person-sharp"></ion-icon>
      </div>
      <div style="margin-left: 10px;">
        <ion-input [(ngModel)]="usuario" label="Ingresar Usuario" labelPlacement="floating" placeholder="Ingresar"></ion-input>
      </div>
    </div>
    
    <div class="contenedor-input azul">
      <div>
        <ion-icon name="lock-closed-sharp"></ion-icon>
      </div>
      <div style="margin-left: 10px;">
        <ion-input [(ngModel)]="password" label="Ingresar Contraseña" type="password" labelPlacement="floating" placeholder="Ingresar"></ion-input>
      </div>
    </div>
    
    <div  >
      <ion-button expand="block" color="light" (click)="irMenu()">Iniciar Sesión</ion-button>
    </div>
    
    <a id="link-resta" style="white-space: nowrap; margin-left:10% ;" (click)="irRegistrar()">Restablecer Contraseña</a>



</ion-content>

