
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>
        <div class="titulo">Registr<span class="color-azul"></span></div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<body >
    <h1>Código QR Generado con Éxito!</h1>
    <br>
    <br>
    <br>

    <img src="./../../../assets/img/ejemplo2.png" alt="Código QR">
    <p>TRANSMITIENDO A: Clase PGY4121_001D</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</body>
<div class="disconnect-button" style="margin-left: 70%;">
  <ion-button class="button" [routerLink]="['/menu']">Desconectar ❌</ion-button>
</div>
